body {
  margin: auto;
  height: 90%;
  width: 75%;
  background-image: url("https://i.pinimg.com/originals/d1/df/32/d1df32b71a5780434d31ba78adbb44aa.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h2 span {
  background-color: #6b848c;
}

.CV {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 25% auto;
      grid-template-columns: 10% 25% auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "box1 box2 box3" "box4 photo header" "box7 contact main";
  background-color: white;
  border-style: solid;
  border-color: #6b848c;
  border-width: 2px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.box1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: box1;
  height: 25px;
  background-color: white;
}

.box2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: box2;
  height: 25px;
  background-color: #C3D5D9;
}

.box3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: box3;
  height: 25px;
  background-color: white;
}

.box4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: box4;
  background-color: #6b848c;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.photo {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: photo;
  background-color: #C3D5D9;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 100%;
}

.pic {
  -webkit-clip-path: circle(45% at center);
          clip-path: circle(45% at center);
  -ms-grid-column-align: center;
      justify-self: center;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: block;
  text-align: center;
  width: 80%;
}

.header {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: header;
  background-color: #6b848c;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
  line-height: 0.5;
}

.header h2 {
  text-align: center;
  font-size: 2em;
}

.box7 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: box7;
  background-color: white;
}

.contact {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: contact;
  background-color: #C3D5D9;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 100%;
  font-family: 'Arial';
  font-size: 1em;
  text-align: center;
  margin: 0 auto;
  text-align: center;
  line-height: 1.6;
}

.contact table {
  font-family: 'Arial';
  font-size: 1em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15%;
}

.contact p {
  padding-bottom: 15%;
}

.contact a:hover {
  color: blue;
}

.contact .fas {
  color: black;
}

.connect a:hover {
  color: blue;
}

.connect .fab {
  color: black;
}

.interests table {
  line-height: 1.6;
  font-size: 3em;
}

.main {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: main;
  background-color: white;
  width: 100%;
  text-align: center;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
}

.main ol {
  margin-left: auto;
  margin-right: auto;
}

.main ol {
  list-style-position: outside;
}

.main table {
  margin-left: auto;
  margin-right: auto;
}

.fa-ul {
  font-size: 1.2em;
}

li span {
  display: block;
  padding-left: 5%;
  font-weight: bold;
}

.imp li {
  font-weight: bold;
}

li {
  list-style-type: none;
  text-align: center;
}

.languages table progress {
  color: #6b848c;
}

@media only screen and (max-width: 136px) {
  .CV {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        grid-template-areas: "photo" "header" "contact" "main";
    border-radius: 30px 30px 30px 30px;
  }
  .photo img {
    height: 40%;
    width: 40%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #6b848c;
  }
  .photo {
    background-color: #6b848c;
    border-radius: 30px 30px 0 0;
    height: 40%;
    width: 40%;
  }
  .header {
    background-color: #6B7C81;
    font-size: 0.8em;
    height: 50%;
    line-height: 1.2;
  }
  .contact table {
    font-size: 0.6em !important;
  }
}

@media only screen and (min-width: 137) and (max-width: 329px) {
  .CV {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        grid-template-areas: "photo" "header" "contact" "main";
    border-radius: 30px 30px 30px 30px;
  }
  .photo img {
    height: 40%;
    width: 40%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #6b848c;
  }
  .photo {
    background-color: #6b848c;
    border-radius: 30px 30px 0 0;
    height: 40%;
    width: 40%;
  }
  .header {
    background-color: #6b848c;
    font-size: 0.09em;
    height: 50%;
  }
  .header h2 {
    font-size: 1em;
  }
  .contact {
    font-size: 0.5em;
  }
  .contact table {
    font-size: 0.5em;
  }
}

@media only screen and (max-width: 360px) {
  .CV {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        grid-template-areas: "photo" "header" "contact" "main";
    border-radius: 30px 30px 30px 30px;
  }
  .photo img {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #6b848c;
  }
  .photo {
    background-color: #6b848c;
    border-radius: 30px 30px 0 0;
  }
  .header {
    background-color: #6b848c;
    font-size: 1em;
  }
  .header h2 {
    font-size: 1em;
  }
  .contact table {
    font-size: 0.7em !important;
  }
  /*.contact p {
        padding-bottom: 10%
    }

    .contact table {
        padding-bottom: 10%;
    }*/
}

@media only screen and (min-width: 360px) and (max-width: 420px) {
  .CV {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        grid-template-areas: "photo" "header" "contact" "main";
    border-radius: 30px 30px 30px 30px;
  }
  .photo img {
    height: 80%;
    width: 80%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #6b848c;
  }
  .photo {
    background-color: #6b848c;
    border-radius: 30px 30px 0 0;
  }
  .header {
    background-color: #6b848c;
    font-size: 1em;
  }
  .header h2 {
    font-size: 1.5em;
  }
  table {
    font-size: 0.8em !important;
  }
  .connect table {
    font-size: 0.8em;
  }
  /*.contact p {
        padding-bottom: 10%
    }

    .contact table {
        padding-bottom: 10%;
    }*/
}

@media only screen and (min-width: 421px) and (max-width: 590px) {
  .CV {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        grid-template-areas: "photo" "header" "contact" "main";
    border-radius: 30px 30px 30px 30px;
  }
  .photo img {
    height: 80%;
    width: 80%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #6b848c;
  }
  .photo {
    background-color: #6b848c;
    border-radius: 30px 30px 0 0;
  }
  .header {
    background-color: #6b848c;
  }
  .header h2 {
    font-size: 1em;
  }
  .skills table {
    font-size: 1em;
    width: 45%;
  }
}

@media only screen and (min-width: 591px) and (max-width: 760px) {
  .CV {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        grid-template-areas: "photo" "header" "contact" "main";
    border-radius: 30px 30px 30px 30px;
  }
  .photo img {
    height: 87%;
    width: 87%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #6b848c;
  }
  .photo {
    background-color: #6b848c;
    border-radius: 30px 30px 0 0;
    height: 100%;
    width: 100%;
  }
  .header {
    background-color: #6b848c;
  }
  .header h2 {
    font-size: 1em;
  }
  .contact {
    height: auto;
  }
}

@media only screen and (min-width: 760px) and (max-width: 1200px) {
  .CV {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
        grid-template-areas: "photo header" "contact main";
    border-radius: 30px 30px 30px 30px;
  }
  .photo img {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #4d6066;
  }
  .photo {
    background-color: #4d6066;
    border-radius: 30px 0 0 0;
  }
  .header {
    background-color: #6b848c;
    border-radius: 0 30px 0 0;
  }
  .header h2 {
    font-size: 0.8em;
  }
  .contact {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: contact;
    background-color: #C3D5D9;
    -ms-grid-column-align: center;
        justify-self: center;
    width: 100%;
    font-family: 'Arial';
    font-size: 1em;
    text-align: center;
    height: 100%;
    margin-bottom: auto;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
  .CV {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10% 25% auto;
        grid-template-columns: 10% 25% auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "box1 box2 box3" "box4 photo header" "box7 contact main";
    background-color: white;
    border-style: solid;
    border-color: #6b848c;
    border-width: 2px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .photo img {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #4d6066;
  }
  .photo {
    background-color: #4d6066;
  }
  .header {
    background-color: #6b848c;
    font-size: 1.5em;
  }
  .contact {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: contact;
    background-color: #C3D5D9;
    -ms-grid-column-align: center;
        justify-self: center;
    width: 100%;
    font-family: 'Arial';
    font-size: 1em;
    text-align: center;
    height: 100%;
    margin-bottom: auto;
  }
}
/*# sourceMappingURL=style.css.map */